<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AdicionarContato</servlet-name>
        <servlet-class>action.AdicionarContato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirContato</servlet-name>
        <servlet-class>action.ExcluirContato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarContato</servlet-name>
        <servlet-class>action.AlterarContato</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdicionarContato</servlet-name>
        <url-pattern>/AdicionarContato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirContato</servlet-name>
        <url-pattern>/ExcluirContato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarContato</servlet-name>
        <url-pattern>/AlterarContato</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
